/* Code Usage Module */
#custom-code-usage {
    min-width: 12px;
    margin: 0 8px;
}

#custom-code-usage.ok {
    color: #a6e3a1;
}

#custom-code-usage.warning {
    color: #f9e2af;
}

#custom-code-usage.critical,
#custom-code-usage.error {
    color: #f38ba8;
}
